<ion-header>
    <ion-navbar no-border-bottom>
 <ion-title>Swimming</ion-title>
    </ion-navbar>
   <!-- </ion-header> -->
   <ion-toolbar no-border-top>
   <ion-segment color="secondary" [(ngModel)]="tabs">

     <!--<ion-segment-button *ngFor="let item of swimming; let i = index" (click)="selectTab(i , $event)"-->
                          <!--value="{{i}}" [ngClass]="{ 'active': i == 0 }">{{item.title}}-->
     <!--</ion-segment-button>-->
     <!--<ion-segment-button class="offlinecontent hide" (click)="selectTab(-1, $event)"-->
                          <!--value="-1">Offline-->
     <!--</ion-segment-button>-->
      <ion-segment-button (click)="selectTab(0, $event)" class="active"
                          value="0">Schedule
      </ion-segment-button>
      <ion-segment-button (click)="selectTab(1, $event)"
                       value="1">Points Table
      </ion-segment-button>
      <ion-segment-button (click)="selectTab(2, $event)"
                       value="2">Participants
      </ion-segment-button>

<!--<div id="slide" class="slide"></div>-->
</ion-segment>

</ion-toolbar>
</ion-header>
   <ion-content>
    <ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
      <!--<ion-slide *ngFor="let item of swimming;">-->
        <!--<iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(item.url)" width="100%" height="100%" frameborder="0px" (abort)="checkOffline()" (error)="checkOffline()"></iframe>-->
      <!--</ion-slide>-->
      <ion-slide>
        <iframe src="http://indiaatsports.com/widget_matches?tournamentid=6730339196076032" width="100%" height="100%" frameborder="0px" (load)="hideLoading()"></iframe>
      </ion-slide>
      <ion-slide>
        <iframe src="http://static.interiit.com/pages/swimming_points_table.html" width="100%" height="100%" frameborder="0px" ></iframe>
      </ion-slide>
      <ion-slide>
        <iframe src="http://indiaatsports.com/widget_participants?tournamentid=6730339196076032" width="100%" height="100%" frameborder="0px" ></iframe>
      </ion-slide>
    </ion-slides>
     <h1 class="offlinecontent hide">You seem to be offline. Please connect to internet and try again.</h1>
   </ion-content>
