<ion-header>
    <ion-navbar no-border-bottom>
 <ion-title>Hockey</ion-title>
    </ion-navbar>
   <!-- </ion-header> -->
   <ion-toolbar no-border-top>
   <ion-segment color="secondary" [(ngModel)]="tabs">

     <!--<ion-segment-button *ngFor="let item of hockey; let i = index" (click)="selectTab(i , $event)"-->
                          <!--value="{{i}}" [ngClass]="{ 'active': i == 0 }">{{item.title}}-->
     <!--</ion-segment-button>-->
     <ion-segment-button (click)="selectTab(0, $event)" class="active"
                          value="0">Schedule
     </ion-segment-button>
      <ion-segment-button (click)="selectTab(1, $event)"
                       value="1">Points Table
      </ion-segment-button>
      <ion-segment-button (click)="selectTab(2, $event)"
                       value="2">Participants
      </ion-segment-button>
<!--<ion-segment-button (click)="selectTab(3, $event)"-->
                   <!--value="3">Tab4-->
<!--</ion-segment-button>-->

<!--<div id="slide" class="slide"></div>-->
</ion-segment>

</ion-toolbar>
</ion-header>
   <ion-content>
    <ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
      <!--<ion-slide *ngFor="let item of hockey;">-->
        <!--<iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(item.url)" width="100%" height="100%" frameborder="0px" onload=""></iframe>-->
      <!--</ion-slide>-->
      <ion-slide>
        <ion-spinner id="first" name="crescent"></ion-spinner>
        <iframe class="hide" src="http://indiaatsports.com/widget_matches?tournamentid=4626982713163776" width="100%" height="100%" frameborder="0px" (load)="hideloader(1)"></iframe>
      </ion-slide>
      <!--<ion-slide>-->
        <!--<ion-spinner id="second" name="crescent"></ion-spinner>-->
        <!--<iframe class="hide" src="http://indiaatsports.com/widget_pointstable?tournamentid=4626982713163776" width="100%" height="100%" frameborder="0px" (load)="hideloader(2)"></iframe>-->
      <!--</ion-slide>-->
      <!--<ion-slide>-->
        <!--<ion-spinner id="third" name="crescent"></ion-spinner>-->
        <!--<iframe class="hide" src="http://indiaatsports.com/displayteamsandplayerslist?tournamentid=4626982713163776&orderingformat=byplayers" width="100%" height="100%" frameborder="0px" (load)="hideloader(3)"></iframe>-->
      <!--</ion-slide>-->
    </ion-slides>
   </ion-content>
