page-map {
  .scroll-content {
    height: 100%
  }

  #map {
    width: 100%;
    height: 90%;
  }

  .hideScrollBar{
    overflow-y: hidden !important ;
  }

  ion-card {
    max-height: 180px;
    width: 100%;
    margin: 0px;
    overflow: scroll;
    position: absolute;
    z-index: 1;
    background-color: darkblue;
  }

  .card-content-md {
    padding: 0px 5px;
  }

  div::-webkit-scrollbar {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
  }

  div::-webkit-scrollbar-track {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
  }

  div::-webkit-scrollbar-thumb {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
  }

  ion-card::-webkit-scrollbar {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
  }

  ion-card::-webkit-scrollbar-track {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
  }

  ion-card::-webkit-scrollbar-thumb {
    border:none;
    width:0;
    background: rgba(0,0,0,0);
  }

  .toolbar-title-md{
    padding-left: 0px;
  }

}
