page-olapedal {
  ion-content{
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../assets/background/background1.jpg");
    background-size: cover;
    background-position: center;
  }
  .toolbar-background-md{
    background: #32db64;
  }
  .toolbar-title-md, button.back-button-md{
    color: white!important;
  }
  .container{
    color: white;
    a button:focus{
      outline: 0px;
    }
  }
}
