<ion-header>
    <ion-navbar>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Sports</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <h3>You are at Sports page</h3>
    <div class="row" *ngFor="let item of items;let i=index">
      <div *ngIf="i % 4 === 0">
         <div class="row">
            <div class="col col-50" *ngIf="i < items.length">
              <ion-card>
                <img src="{{items[i].src}}"/>
                <ion-card-content>
                  <ion-card-title>
                    {{items[i].title}}
                  </ion-card-title>
                </ion-card-content>
              </ion-card> 
          </div>
     
          <div class="col col-50" *ngIf="i + 1 < items.length">
            <ion-card>
              <img src="{{items[i+1].src}}"/>
              <ion-card-content>
                <ion-card-title>
                  {{items[i+1].title}}
                </ion-card-title>
              </ion-card-content>
            </ion-card>            
          </div> 
       </div>
     
       <div class="row">
       <div class="col col-50" *ngIf="i + 2 < items.length">
        <ion-card>
          <img src="{{items[i+2].src}}"/>
          <ion-card-content>
            <ion-card-title>
              {{items[i+2].title}}
            </ion-card-title>
          </ion-card-content>
        </ion-card>            
         </div>
     
         <div class="col col-50" *ngIf="i + 3 < items.length">
          <ion-card>
            <img src="{{items[i+3].src}}"/>
            <ion-card-content>
              <ion-card-title>
                {{items[i+3].title}}
              </ion-card-title>
            </ion-card-content>
          </ion-card> 
         </div>
        </div>
     </div>
    </div>
  </ion-content>